<!---->
<h1 class="title-footer">Lorant</h1>
<div class="content-footer">
    <section class="footer-section">
        <p class="title-column">Rejoingnez nous</p>
        <img class="icon" src="./assets/instagram.svg" alt="instagram">
        <img class="icon" src="./assets/facebook.svg" alt="facebook">
        <img class="icon" src="./assets/twitter.svg" alt="twitter">
    </section>
    <section class="footer-section">
        <p class="title-column">Aide</p>
        <p>Service client</p>
        <p>Détails de livraison</p>
        <p>Termes et conditions</p>
        <p>Politique de confidentialité</p>
    </section>
    <section class="footer-section">
        <p class="title-column">Notre entreprise</p>
        <p>Nos locaux</p>
        <p>A propos de nous</p>
        <p>Notre équipe</p>
        <p>Nos collaborateurs</p>
    </section>
    <section class="footer-section" id="newsletter">
        <p class="title-column">Inscrivez vous à notre Newsletter</p>
        <div class="newsletter">
            <input type="text" placeholder="votre email" class="newsletter-input">
            <button class="newsletter-button">Rejoindre</button>
        </div>
    </section>
</div>