<div class="logo">
    <h1 class="title">Lorant</h1>
</div>
<nav>
    <li><a href="/">Home</a></li>
    <li><a href="/products">Tous nos produits</a></li>
    <li>Soldes</li>
    <li><a href="/cart">Panier</a></li>
    <li><a href="/contact">Nous contacter</a></li>
</nav>