<!DOCTYPE html>

<head>
    <%- include('../partials/headGen'); %>
        <link rel="stylesheet" href="style/cart.css">
</head>

<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <div>
        <p>Voici votre panier</p>
    </div>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>